<div class="card border-dark mb-4">
    <div class="card-header">
      <button type="button" class="btn btn-primary float-right" (click)=switchId()>{{ showId ? 'Ocultar' : 'Mostrar' }} Id</button>
    </div>
      <div class="card-body text-dark">
        <h5 class="card-title">Listado de tiendas</h5>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
              <tr>
                  <th *ngIf="showId">id</th>
                  <th>Nombre</th>
                  <th>Dirección</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let tienda of tiendas">
                  <th *ngIf="showId"> {{tienda.id}}</th>
                  <td> {{tienda.nombreTienda}}</td>
                  <td> {{tienda.direccion}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
 