.my-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #3e3e3e;
    color:white;
    font-size: small;
    font-weight: bold;
    text-align: center;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}
