<div class="alert alert-info" *ngIf="companies?.length == 0">
  No hay compañías que mostrar
</div>
<div class="card border-dark mb-4" *ngIf="companies?.length > 0">
    <div class="card-header">
      <button type="button" class="btn btn-secondary float-left" (click)=switchId()>{{ ocultarMostrarId() }}</button>
    </div>
      <div class="card-body text-dark">
        <h5 class="card-title">Listado de companies</h5>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
              <tr>
                  <th *ngIf="showId">Id</th>
                  <th>CIF</th>
                  <th>Nombre</th>
                  <th>Juegos</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let company of companies">
                  <th *ngIf="showId"> {{company.id}}</th>
                  <td> {{company.cif}}</td>
                  <td> {{company.nombreCompany}}</td>
                  <td>
                    <span *ngFor="let juego of company.listaJuegos; index as indice">
                      <a [routerLink]="['/juegos/form/', juego.id]">{{ juego.titulo }}
                      </a>{{ (company.listaJuegos.length > 1 && indice < company.listaJuegos.length - 1) ? ', ' : '' }}
                    </span>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  
