<div class="card bg-light">
    <div class="card-header"> {{ title }}</div>

    <div class="card-body">
        
        <form #juegoForm="ngForm">

            <div class="form-group row">
                <label for="titulo" class="col-form-label col-sm-2">Título</label>
                <div class="col-sm-6">
                    <input name="titulo" type="text" class="form-control" [(ngModel)]="juego.titulo" maxlength="50" required #titulo="ngModel">
                    <div class="alert alert-danger" *ngIf="titulo.invalid && titulo.touched">
                        <div *ngIf="titulo.errors.required">
                            Debe rellenar el título del juego
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="fechaLanzamiento" class="col-form-label col-sm-2">Fecha de lanzamiento</label>
                <div class="col-sm-6">
                    <input name="fechaLanzamiento" type="date" class="form-control" [(ngModel)]="juego.fechaLanzamiento" required #fechaLanzamiento="ngModel">
                    <div class="alert alert-danger" *ngIf="fechaLanzamiento.invalid && fechaLanzamiento.touched">
                        <div *ngIf="fechaLanzamiento.errors.required">
                            Debe concretar la fecha de lanzamiento del juego
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="categoria" class="col-form-label col-sm-2">Categoría</label>
                <div class="col-sm-6">
                    <select name="categoria" class="form-control" [(ngModel)]="juego.categoria" required #categoria="ngModel">
                        <option *ngFor="let categoriaOption of categorias" [ngValue]="categoriaOption"> {{ categoriaOption }}</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="categoria.invalid && categoria.touched">
                        <div *ngIf="categoria.errors.required">
                            Debe seleccionar la categoría del juego
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="pegi" class="col-form-label col-sm-2">Pegi</label>
                <div class="col-sm-6">
                    <input name="pegi" type="number" min="3" max="18" class="form-control" [(ngModel)]="juego.pegi" required #pegi="ngModel">
                    <div class="alert alert-danger" *ngIf="pegi.invalid && pegi.touched">
                        <div *ngIf="pegi.errors.required">
                            Debe seleccionar un pegi para el juego
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="companies" class="col-form-label col-sm-2">Compañías</label>
                <div class="col-sm-6">
                    <select name="companies" class="form-control" [(ngModel)]="juego.listaCompanies" [compareWith]="compareCompany" multiple>
                        <option *ngFor="let companyOption of companies" [ngValue]="companyOption"> {{ companyOption.nombreCompany }}</option>
                    </select>
                    <!-- <div class="alert alert-danger" *ngIf="companiess.invalid && companiess.touched">
                        <div *ngIf="companiess.errors.required">
                            Debe seleccionar alguna compañía
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 float-right">
                    <button class="btn btn-secondary" type="button" (click)="create()" *ngIf="!juego.id" [disabled]="juegoForm.form.invalid">Enviar</button>
                    <button class="btn btn-secondary" type="button" (click)="update()" *ngIf="juego.id" [disabled]="!juegoForm.form.valid">Editar</button>
                    <button class="btn btn-danger ml-2" type="button" routerLink="/juegos">Cancelar</button>
                </div>
            </div>

        </form>

    </div>
</div>
