<div class="alert alert-info" *ngIf="juegos?.length == 0">
  No hay juegos que mostrar
</div>

<div class="card border-dark mb-4" *ngIf="juegos?.length > 0">
  <div class="card-header">
    <button class="btn btn-secondary float-right" type="button" routerLink="/juegos/form">Añadir juego</button>
    <button class="btn btn-secondary float-left" type="button" (click)=switchId()>{{ ocultarMostrarId() }}</button>
  </div>
    <div class="card-body text-dark">
      <h5 class="card-title">Listado de juegos</h5>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th *ngIf="showId">Id</th>
                <th>Titulo</th>
                <th>Fecha de lanzamiento</th>
                <th>Categoría</th>
                <th>Pegi</th>
                <th>Compañías</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let juego of juegos">
                <th *ngIf="showId"> {{juego.id}}</th>
                <td>{{ juego.titulo }}</td>
                <td>{{ juego.fechaLanzamiento }}</td>
                <td>{{ juego.categoria }}</td>
                <td>{{ juego.pegi }}</td>
                <td>{{ listCompanies(juego.listaCompanies) }}</td>
                <td>
                  <button class="btn btn-secondary" type="button" [routerLink]="['/juegos/form/', juego.id]">Editar</button>
                  <button class="btn btn-danger ml-2" type="button" (click)="delete(juego.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

