<div class="card border-dark mb-4">
    <div class="card-header">
      <button type="button" class="btn btn-primary float-right" (click)=switchId()>{{ showId ? 'Ocultar' : 'Mostrar' }} Id</button>
    </div>
      <div class="card-body text-dark">
        <h5 class="card-title">Listado de stocks</h5>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
              <tr>
                  <th *ngIf="showId">id</th>
                  <th>Estado</th>
                  <th>Numero de referencia</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let stock of stocks">
                  <th *ngIf="showId"> {{stock.id}}</th>
                  <td> {{stock.estado}}</td>
                  <td> {{stock.numRef}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  
