<div class="card border-dark mb-4">
  <div class="card-header">
    <button
      type="button"
      class="btn btn-secondary float-right"
      (click)="switchId()"
    >
      {{ showId ? "Ocultar" : "Mostrar" }} Id
    </button>
    <button
      type="button"
      class="btn btn-secondary float-left"
      [routerLink]="['/clientes/form']"
    >
      Registrar nuevo cliente
    </button>
  </div>
  <div class="card-body text-dark">
    <h5 class="card-title">Listado de clientes</h5>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th *ngIf="showId">id</th>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Fecha de nacimiento</th>
          <th>Email</th>
          <th>Nombre de usuario</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <th *ngIf="showId">{{ cliente.id }}</th>
          <td>{{ cliente.nombreCliente }}</td>
          <td>{{ cliente.nif }}</td>
          <td>{{ cliente.fechaNacimiento | date: "dd/MM/yyyy" }}</td>
          <td>{{ cliente.correo }}</td>
          <td>{{ cliente.nombreUsuario }}</td>
          <td>
            <button type="button" name="button" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
