<div class="card bg-dark text-white">
    <div class="card-header bg-secondary"> {{ titulo }} </div>
    <div class="card-body">

        <form>

            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombreCliente" name="nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="nif" class="col-form-label col-sm-2">Dni</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nif" name="nif">
                </div>
            </div>

            <div class="form-group row">
                <label for="fechaNacimiento" class="col-form-label col-sm-2">Fecha de Nacimiento (yyyy-MM-dd)</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.fechaNacimiento" name="fechaNacimiento">
                </div>
            </div>

            <div class="form-group row">
                <label for="correo" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.correo" name="correo">
                </div>
            </div>

            <div class="form-group row">
                <label for="username" class="col-form-label col-sm-2">Nombre de usuario</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombreUsuario" name="username">
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-form-label col-sm-2">Contraseña</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.contrasenia" name="password">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-secondary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock">Registrar</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-secondary" role="button" (click)='update()'>Actualizar</button>
                    </ng-template>
                </div>
            </div>

        </form>

    </div>
</div>
